<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Thoughts</h1>

  <form>
    <ion-item>
      <ion-input name="message" type="text" placeholder="Type message" [(ngModel)]="message"></ion-input>
    </ion-item>
    <ion-button round (click)="addThoughLocal()">Add Locally</ion-button>
    <ion-button round (click)="addThoughServer()">Add On Remote Server</ion-button>
  </form>

  <!-- <h2>ngFor List</h2>
    <ul class="listNg">
      <li *ngFor="let athought of thethoughts">
    </ul> -->

  <h2>Standard List</h2>
  <ul id="list">

  </ul>
</ion-content>